<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tags</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>

      <% for (var i = 10; i--; ) { %>
        <tr>
          <td><%= i %></td>
          <td><%= 'tag_' + i %></td>
          <td><a href="/delete?id=<%= i %>">Delete</a><a href="/edit?id=<%= i %>">Edit</a></td>
        </tr>
      <% } %>

    </table>
  </body>
</html>